.spacing-around {
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.spacing-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}