h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  margin: 0 0 var(--margin) 0;
  font-family: var(--ff-heading);
  font-weight: var(--fw-medium);
  line-height: var(--lh-base);
}

h1 {
  font-size: var(--fs1);
  line-height: var(--lh1);
}

h2 {
  font-size: var(--fs2);
  line-height: var(--lh2);
}

h3 {
  font-size: var(--fs3);
  line-height: var(--lh3);
}

h4 {
  font-size: var(--fs4);
  line-height: var(--lh4);
}

h5 {
  font-size: var(--fs5);
  line-height: var(--lh5);
}

h6 {
  font-size: var(--fs6);
  line-height: var(--lh6);
}

p {
  text-justify: auto;
  font-size: var(--fs-body);
  line-height: var(--lh-body);
  font-family: var(--ff-body);
}

a {
  text-decoration: none;
  cursor: pointer;
  font-family: var(--ff-link);
  color: var(--c-on-base);
}
