button,
input[type="submit"],
input[type="reset"] {
  white-space: nowrap;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  font-stretch: normal;
  line-height: 2;
  font-style: normal;

  border: $btn-border;
  font-size: $btn-fs;
  font-weight: $btn-fw;
  color: $btn-color;
  border-radius: $btn-roundness;
  padding: $btn-padding;
  background-color: $btn-bg;
  margin: $btn-margin;
  box-shadow: $btn-shadow;
  transform: scale($btn-scale);

  &:hover {
    color: $btn-color--hover;
    background-color: $btn-bg--hover;
    box-shadow: $btn-shadow--hover;
    transform: scale($btn-scale--hover);
  }

  &:active {
    color: $btn-color--active;
    background-color: $btn-bg--active;
    box-shadow: $btn-shadow--active;
    transform: scale($btn-scale--active);
  }

  &:focus {
    outline: none;
  }
}
