hr {
  border-width: 0;
  margin: ($margin * 6) 0;
  border-top: 0.125rem solid $bg-box;
}

code {
  white-space: nowrap;
  display: block;
  font-family: $code-ff;
  border: $border;
  padding: $padding;
  margin: $margin;
  border-radius: $roundness;
  background: $bg-box;
  color: $c-box;
}
