h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  margin: 0 0 $margin 0;
  font-family: $heading-ff;
  font-weight: $medium;
  line-height: $base-lh;
}

h1 {
  font-size: $h1-fs;
  line-height: $h1-lh;
}

h2 {
  font-size: $h2-fs;
  line-height: $h2-lh;
}

h3 {
  font-size: $h3-fs;
  line-height: $h3-lh;
}

h4 {
  font-size: $h4-fs;
  line-height: $h4-lh;
}

h5 {
  font-size: $h5-fs;
  line-height: $h5-lh;
}

h6 {
  font-size: $h6-fs;
  line-height: $h6-lh;
}

p {
  text-justify: auto;
  font-size: $body-fs;
  line-height: $body-lh;
  font-family: $body-ff;
  font-weight: $normal;
}

a {
  text-decoration: none;
  cursor: pointer;
  font-family: $link-ff;
  font-weight: $medium;
  color: $c-base;
  &:hover {
    color: lighten($color: $c-base, $amount: 40);
  }
}
