button {
  white-space: nowrap;
  box-sizing: border-box;
  cursor: pointer;
  border: none;

  font-size: 1rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;

  text-align: center;
  color: hsla(0, 0, 0, 0.8);
  border-radius: 0.5rem;
  padding: 0.2rem 2rem;
  background-color: hsla(0, 0, 0, 0.06);
  margin: 0.5rem;

  &:hover {
    background-color: hsla(0, 0, 0, 0.1);
  }

  &:focus {
    outline: none;
  }

  &:active {
    transform: scale(0.95);
  }
}
