button,
input[type="submit"],
input[type="reset"] {
  white-space: nowrap;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  font-stretch: normal;
  line-height: 2;
  font-style: normal;
  border: var(--border);
  font-size: var(--fs-base);
  font-weight: var(--fw-normal);
  background-color: var(--c-action);
  color: var(--c-on-action);
  border-radius: var(--roundness);
  padding: calc(var(--padding) / 2) calc(var(--padding) * 4);
  margin: var(--margin);
  box-shadow: var(--box-shadow);
  transform: scale(1);
}

button,
input[type="submit"],
input[type="reset"]:hover {
  /*color: var(--btn-color--hover);
  background-color: var(--btn-bg--hover);
  box-shadow: var(--btn-shadow--hover);
  transform: scale(var(--btn-scale--hover));*/
}

button,
input[type="submit"],
input[type="reset"]:active {
  /*color: var(--btn-color--active);
  background-color: var(--btn-bg--active);
  box-shadow: var(--btn-shadow--active);
  transform: scale(var(--btn-scale--active));*/
}

button,
input[type="submit"],
input[type="reset"]:focus {
  outline: none;
}
