button,
input[type="submit"],
input[type="reset"] {
  white-space: nowrap;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  font-stretch: normal;
  line-height: 2;
  font-style: normal;

  border: $border;
  font-size: $base-fs;
  font-weight: $normal;
  color: $c-box;
  border-radius: $roundness;
  padding: ($padding/2) ($padding * 4);
  background-color: $bg-box;
  margin: $margin;

  &:hover {
    background-color: $bg-box--hover;
  }

  &:focus {
    outline: none;
  }

  &:active {
    transform: scale(1 - $active-focus-scale);
  }
}
