$colors: (
    "green": #2ecc71,
	"blue": #3498db,
	"purple": #9b59b6,
	"navy": #34495e,
	"orange": #e67e22,
    "red": #e74c3c,
    "dark": #333
);

@each $name, $hex in $colors {
    &.back-#{$name} {
        background-color: #{$hex}!important;
    }

    &.color-#{$name} {
        color: #{$hex}!important;
        border-color: #{$hex}!important;
    }
}