input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
    height: 50px;
    padding: 8px 12px;
    background-color: #fff;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    box-shadow: none;
    box-sizing: border-box;
    font-size: 12px;
    &:focus{
        border: 1px solid map-get($colors, "dark");
        outline: 0;
    }
}

textarea {
    min-height: 65px;
    padding-top: 6px;
    padding-bottom: 6px;
}

label,
legend {
    display: block;
    margin-bottom: .5rem;
    font-weight: 500;
    color: map-get($colors, "dark");
}

fieldset {
    padding: 0;
    border-width: 0;
}

input[type="checkbox"],
input[type="radio"] {
    display: inline;
}

label>.label-body {
    display: inline-block;
    margin-left: .5rem;
    font-weight: normal;
}