input[type="text"],
[type="password"],
[type="search"],
[type="email"],
[type="color"],
[type="date"],
[type="datetime-local"],
[type="week"],
[type="month"],
[type="number"],
[type="tel"],
[type="time"],
[type="url"] {
  width: 90%;
  border: none;
  border-radius: $roundness;
  background-color: $bg-box;
  padding: ($padding * 1.2) ($padding * 2);

  &:focus {
    outline: none;
    transform: scale(1 + $active-focus-scale);
  }
}

input {
  margin: $margin;
  font-size: $base-fs;
}

label {
  margin: $margin;
  font-size: $base-fs;
}

fieldset {
  border: none;
  padding: 0;
  display: block;
  position: relative;
  margin: $margin 0rem $margin 0rem;

  label {
    margin: 0rem $margin;
  }

  input {
    margin: 0rem $margin $margin $margin;
  }
}
