body {
  background: linear-gradient(90deg, #070707 20px, transparent 1%) center,
    linear-gradient(#070707 20px, transparent 1%) center, #1d1d1d;
  background-size: 22px 22px;
  margin: 4rem;
}

section {
  margin-bottom: 10rem;
}
