body {
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.05);
}

section {
  display: flex;
  flex-direction: row;
}

section div {
  padding: 1rem;
  width: 50%;
}

section code {
  padding: 1rem;
  width: 50%;
}
