:root {
  /* Colors */
  --c-base: #ffffff;
  --c-on-base: #1b2733;
  --c-action: #212121;
  --c-action--hover: ;
  --c-action--active: ;
  --c-on-action: #fafafa;

  /* Font Families */
  --ff-base: -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, Oxygen,
    Ubuntu, Cantarell, “Open Sans”, “Helvetica Neue”, sans-serif;
  --ff-body: var(--base-ff);
  --ff-heading: var(--base-ff);
  --ff-code: var(--base-ff);
  --ff-link: var(--base-ff);
  --ff-quote: var(--base-ff);

  /** Line Heights **/
  --lh-base: 1.5;
  --lh1: var(--lh-base);
  --lh2: var(--lh-base);
  --lh3: var(--lh-base);
  --lh4: var(--lh-base);
  --lh5: var(--lh-base);
  --lh6: var(--lh-base);
  --lh-body: 1.25;

  /** Font sizes **/
  --fs-base: 1rem;
  --fs1: 2.5rem;
  --fs2: 2.25rem;
  --fs3: 2rem;
  --fs4: 1.75rem;
  --fs5: 1.5rem;
  --fs6: 1.25rem;
  --fs-body: var(--fs-base);

  /** Font weights **/
  --fw-light: 300;
  --fw-normal: 400;
  --fw-medium: 600;
  --fw-bold: 700;
  --fw-heavy: 900;

  /** Elements **/
  --roundness: 0.5rem;
  --border: none;
  --margin: 0.5rem;
  --padding: 0.5rem;
  --active-focus-scale: 0.05;
  --box-shadow: none;
}

/*
:button {

  --btn-fs: var(--base-fs);
  --btn-fw: var(--normal);
  --btn-roundness: var(--roundness);
  --btn-border: var(--border);
  --btn-margin: var(--margin);
  --btn-padding: (var(--padding) / 2) (--var(padding) * 4);

  --btn-color: var(--c-box);
  --btn-color--hover: var(--c-box);
  --btn-color--active: var(--c-box);

  --btn-bg: var(--bg-box);
  --btn-bg--hover: var(--bg-box--hover);
  --btn-bg--active: var(--bg-box);

  --btn-shadow: var(--box-shadow);
  --btn-shadow--hover: var(--box-shadow);
  --btn-shadow--active: var(--box-shadow);

  --btn-scale: 1;
  --btn-scale--hover: 1;
  --btn-scale--active: 1 - var(--active-focus-scale);
}*/
