/** Colors **/
$bg-base: #ffffff;
$c-base: #1b2733;
$c-box: hsla(0, 0, 0, 0.8);
$bg-box: hsla(0, 0, 0, 0.06);
$bg-box--hover: hsla(0, 0, 0, 0.1);

/** Fonts **/
/** Font Families **/
$base-ff: -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, Oxygen, Ubuntu,
  Cantarell, “Open Sans”, “Helvetica Neue”, sans-serif;
$body-ff: $base-ff;
$heading-ff: $base-ff;
$code-ff: $base-ff;
$link-ff: $base-ff;
$quote-ff: $base-ff;

/** Line Heights **/
$base-lh: 1.5;
$h1-lh: $base-lh;
$h2-lh: $base-lh;
$h3-lh: $base-lh;
$h4-lh: $base-lh;
$h5-lh: $base-lh;
$h6-lh: $base-lh;
$body-lh: 1.25;

/** Font sizes **/
$base-fs: 1rem;
$h1-fs: 2.5rem;
$h2-fs: 2.25rem;
$h3-fs: 2rem;
$h4-fs: 1.75rem;
$h5-fs: 1.5rem;
$h6-fs: 1.25rem;
$body-fs: $base-fs;

/** Common weights **/
$light: 300;
$normal: 400;
$medium: 600;
$bold: 700;
$heavy: 900;

/** Elements **/
$roundness: 0.5rem;
$border: none;
$margin: 0.5rem;
$padding: 0.5rem;
$active-focus-scale: 0.05;
$box-shadow: none;

/** Button **/
$btn-fs: $base-fs;
$btn-fw: $normal;
$btn-roundness: $roundness;
$btn-border: $border;
$btn-margin: $margin;
$btn-padding: ($padding/2) ($padding * 4);

$btn-color: $c-box;
$btn-color--hover: $c-box;
$btn-color--active: $c-box;

$btn-bg: $bg-box;
$btn-bg--hover: $bg-box--hover;
$btn-bg--active: $bg-box;

$btn-shadow: $box-shadow;
$btn-shadow--hover: $box-shadow;
$btn-shadow--active: $box-shadow;

$btn-scale: 1;
$btn-scale--hover: 1;
$btn-scale--active: 1 - $active-focus-scale;
